{
    "extends": ["airbnb-base", "prettier", "plugin:jest/recommended"],
    "plugins": ["jest", "prettier"],
    "rules": {
        "prettier/prettier": ["error"],
        "no-console": "off",
        "no-underscore-dangle": "off",
        "no-param-reassign": "off"
    }
}
